body.clock {
	margin:0;
	background-color: lightgrey;

}

div.clock {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	border: 10px solid black;
	position: relative;
	margin: 20% auto;
	padding: 20px;
}

div.clock-face {
	position: relative;
	width: 100%;
	height: 100%;
	transform: translateY(-3px);
}

div.hand {
	height: 5px;
	width: 50%;
	background-color: black;
	position: absolute;
	margin-top: 50%;
	transform-origin: 100%;
	transform: rotate(90deg);
	transition: all 0.05s cubic-bezier(0.1, 2.7, 0.58, 1);

}

div.second-hand {
	background-color: red;
}

div.min-hand {
	width: 40%;
	position: absolute;
	top: 0;
	left: 10%;
}

div.hour-hand {
	width: 30%;
	position: absolute;
	top: 0;
	left: 20%;
	height: 8px;
}


